# dev stuff
atomicwrites
attrs
bumpversion
click
coverage
filelock
flake8
mccabe
more-itertools
pluggy
py
pycodestyle
pyflakes
pytest
six
toml
tox
virtualenv
wheel
# TODO: Remove that when the setup.py file is fixed with this requirement
git+https://github.com/appnexus/pyrobuf.git@master#egg=pyrobuf
